@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

:root{
    --primary-color: #131314;
    --secondary-color: #1E1F20;
    --secondary-hover-color: #333537;
  
    --focus-color: #282A2C;
    --focus-hover-color: #37393B;
  
    --button-hover-color: #2f3030;
  
    --text-color: #fff;
    --text-secondary-color: #D8D8D8;
    --heading-secondary-color: #444746;
    --placeholder-color: #ABAFB3;
}

.light_mode{
    --primary-color: #FFFFFF;
    --secondary-color: #F0F4F9;
    --secondary-hover-color: #DDE3EA;
  
    --focus-color: #E9EEF6;
    --focus-hover-color: #E1E6ED;
  
    --button-hover-color: #E9ECF1;
  
    --text-color: #000;
    --text-secondary-color: #4D4D4D;
    --heading-secondary-color: #C4C7C5;
    --placeholder-color: #717075;
}

body{
    background: var(--primary-color);
}
